@import '@fortawesome/fontawesome-free/css/all.css';


.d-block {
  display: block !important;
}

body {
  background: #7a94a7;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 40px;
  height: 100vh;

  @media only screen and (max-width: 1000px) {
      padding: 34px;
      //overflow: visible;
      height: 400px;
  }

  svg {
      position: absolute;
  }
}
